*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
